.set-Bg-image{
    -fx-background-image:url("/lk/ijse/theGym/view/assets/BGImage/Login.jpg");
}
.text-field{
    -fx-border-color: White;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-prompt-text-fill: white;
    -fx-text-fill: White;


}
.text-field:pressed{

    -fx-effect: dropshadow( gaussian , rgba(0,0,1,1) , 1,0,0,1 );
    -fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 20,0,0,0 )

}
.button{
    -fx-background-radius: 10;
    -fx-background-color: #FBA23E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20;

    -fx-effect: dropshadow( gaussian ,#FBA23E,50,0.1,0,0);
    /*-fx-effect: innershadow( gaussian , rgba(0,0,0,1) , 20,0,0,0 )*/
}
.button:hover{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-effect: dropshadow( gaussian ,#FFFFFF,50,0.1,0,0);
}

